.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 400px;
  height: auto;
  background: #ffffff;
  padding: 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.text__yyRu3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 32px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__ynoVb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  flex-direction: row;
  min-width: 0;
  display: none;
}
.slotTargetErrorMessage {
  color: #9d3131;
}
.freeBox__krbAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  flex-direction: row;
  min-width: 0;
  display: none;
}
.freeBoxisError__krbAoXdcBn {
  display: flex;
}
.slotTargetErrorrMessage {
  color: #893131;
}
.text___8Rops {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.emailInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__czH98 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___20Irm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__n8W9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5Apx8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__t8SO4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.submitButtonisLoading:global(.__wab_instance) {
  display: none;
}
.svg__xmK6A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__urhSy {
  color: #ffffff;
}
.svg__o9Wo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__a84WR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg___3HTsY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-vq7LlD8d2);
  flex-shrink: 0;
  display: none;
}
.svg__lkVbp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-vq7LlD8d2);
  flex-shrink: 0;
  display: none;
}
.svgisLoading__lkVbpgfbth {
  display: block;
}
.text__vcR2Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6928Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aLezu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
